header.header{
  @media #{$media-size-phone} {
      padding: 20px;
    }
}

.header {
  background: $light-background;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 40px;
  @media #{$media-size-tablet} {
      padding: 20px;
    }
  @media #{$media-size-phone} {
      padding: 20px;
    }

  .dark-theme & {
    background: $dark-background;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    //width: 760px;
    width: 100%;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}
