.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: monospace, monospace;

  img {
    height: 80px;
  }

  &__mark {
    margin-right: 5px;
  }

  &__text {
    font-size: 1.125rem;
  }

  &__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite;
  }

  @media (prefers-reduced-motion: reduce) {
    &__cursor {
        animation: none;
    }
  }

}

.logoLight {
    display: block;
}

.logoDark {
    display: none;
}

body.dark-theme .logoLight {
    display: none;
}

body.dark-theme .logoDark {
    display: block;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
