@charset "UTF-8";

/* light theme color */
$light-background: #f9f9f9;
$light-background-secondary: #ddd;
$light-color: #222;
$light-primary: #7986cb;
$light-secondary: #7986cb;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;

$light-bg-color: #aab6fe;

/* dark theme colors */
$dark-background: #121212;
$dark-background-secondary: #2d2d2d;
$dark-color: #ffffff;
$dark-primary: #a5b4e6;
$dark-secondary: #a5b4e6;
$dark-color-secondary: #a4a4a4;
$dark-border-color: #707070;

$dark-bg-color: #49599a;


$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
